#Version Anterior
/request.php
/generar.php
/cancelar.php
_img/bg.png
_img/error.png
_img/ok.png
phpMyAdmin*
Connections/db_api*
_src/v1.css
pi.php

#PMA
pma
phpMyAdmin*

#GIT
repositoryBare.git

#Carpetas Contenedoras
preCFD/*
cfdi/preCFDI/*
cfdi/qr/*
